<input type="checkbox" id="nav-toggle" class="nav-toggle">
<label for="nav-toggle" class="nav-toggle-label">
    <span></span>
    <span></span>
    <span></span>
</label>

<nav>
    <div class="logo-container">
        <img src="assets/img/Logo.png" alt="LeBonPlan Logo">
    <ul>
        <li><a {{ app.request.query.get('page') == 'home' ? 'class = "active"' : 'href="?page=home"' }}>Accueil</a></li>
        <li><a {{ app.request.query.get('page') == 'offers' ? 'class = "active"' : 'href="?page=offers"' }}>Offre de stage</a></li>
        <li><a {{ app.request.query.get('page') =='companies' ? 'class = "active"' : 'href="?page=companies"' }}>Entreprises</a></li>
        <li><a {{ app.request.query.get('page') == 'users' ? 'class = "active"' : 'href="?page=users"' }}>Utilisateurs</a></li>
        <li><a {{ app.request.query.get('page') == 'contact' ? 'class = "active"' : 'href="?page=contact"' }}>Nous contacter</a></li>
    </ul>
    </div>
    <a href="{{ user[0].Nom_Utilisateur ? '?page=profile' : '?page=sign-in' }}" class="login-btn">
        {{ user[0].Nom_Utilisateur ? 'Mon Compte' : 'Se connecter / S\'inscrire' }}
    </a>
</nav>

